{% extends "base.html" %}
{% load url from future %}
{% load raw %}

{% block style %}
<style>
<!--

dd {

	margin-bottom : 10px;
}

.workspace-box {
	margin: auto;
	margin-top:10px;
}

.workspace-box a {
	color : white;
}


-->
</style>
{% endblock %}

{% block sub-nav %}
<div class="sub-nav">
	<div class="sub-nav-container">
		<div class="row-fluid">
			<div class="span2 workspace-box">
				<div id="current-workspace"></div>
			</div>
			<div class="span10">
				<form class="form form-search-box">
			     		<div class="input-append">
				  		<input id="search-query" type="text" class="input-xxlarge"  placeholder="Rechercher des séries de données par mots clefs...">
				  		<button type="submit" class="btn btn-primary" onclick="search_serie();return false;"><i class="icon-search icon-white"></i> Rechercher</button>
				  		<button class="btn btn-success"><i class="icon-random icon-white"></i> Correler</button>
				  	</div>
				</form>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}

<div id="message" class="after-sub-nav"></div>

<div  class="row-container  hide" id="domains">
	<p class="text-center lead">Recherche par domaines</p>
	<div class="row">
	  	
	  	<div class="span1">	
			
		</div>
	  	
	  	<div class="span10">
	  		<div class="row-fluid">
		 	{% for domain in domains %}
		  		<div class="span3" >
			  		<p class="text-center">
				  		<a href="#" onclick="search_serie('category:{{ domain.key }}');return false;"><img src="{{ STATIC_PREFIX }}/img/domain-icons/{{ domain.icon_path }}" /></a>
				  		<br/><span>{{ domain.name }} </span>
				  		</p>
		  		</div>
			{% endfor %}
			</div>
		</div>
		
		<div class="span1">	
			<p class="text-right"><a href="#" onclick="slider.next();"><img src="{{ STATIC_PREFIX }}/img/chevron-right.png" /></a></p>
		</div>
	</div>
</div>
<div  class="row-container hide" id="workspaces">
	<div class="row">
	  	<p class="text-center lead">Mes espaces de travail</p>
	  	<div class="span1">	
			<p class="text-left"><a href="#"  onclick="slider.previous();"><img src="{{ STATIC_PREFIX }}/img/chevron-left.png" /></a></p>
		</div>
	  	
	  	<div class="span10" id="workspace-list">
		</div>
		<div class="span1 ">	
			<p class="text-right"><a href="#" onclick="slider.next();"><img src="{{ STATIC_PREFIX }}/img/chevron-right.png" /></a></p>	
		</div>
	</div>
</div>

<div  class="row-container hide" id="search-board">
	<div class="row">
	  	<p class="text-center lead"></p>
	  	<div class="span1">	
			<p class="text-left"><a href="#"  onclick="slider.previous();"><img src="{{ STATIC_PREFIX }}/img/chevron-left.png" /></a></p>
		</div>
	  	
	  	<div class="span10">
	  		<div class="row-fluid">
		 		<div id="search-results-hook"></div>
			</div>	
		</div>
		
		<div class="span1">	
			<p class="text-right"><a href="#" onclick="slider.next();"><img src="{{ STATIC_PREFIX }}/img/chevron-right.png" /></a></p>
		</div>
	</div>
</div>

<div  class="row-container hide" id="search-list">
	<div class="row">
	  	
	  	<div class="span1">	
			<p class="text-left"><a href="#"  onclick="slider.previous();"><img src="{{ STATIC_PREFIX }}/img/chevron-left.png" /></a></p>
		</div>
	  	
	  	<div class="span10">
	  		<div class="row-fluid">
		 		<div id="search-list-hook"></div>
		 		<br/>
		 		<br/>
			</div>	
		</div>
		
		<div class="span1">	
			<p class="text-right"><a href="#" onclick="slider.next();"><img src="{{ STATIC_PREFIX }}/img/chevron-right.png" /></a></p>
		</div>
	</div>
</div>
{% raw %}

<script id="template-workspace-list" type="text/dot.js">
 	<div class="row-fluid">
	{{~it.workspaces:workspace:i}}
  		<div class="span3" >
	  		<p class="text-center">
		  		<a href="#" onclick="open_workspace('{{=workspace.name}}');return false;"><img src="{{=it.STATIC_PREFIX }}/img/workspace-icons/{{=workspace.icon_path}}" /></a>
		  		<br/><span>{{=workspace.name}} <a href="#" onclick="remove_workspace('{{=workspace.id}}'); return false;"><i class="icon-remove"></i></a></span>
		  		</p>
  		</div>
	{{~}}				
	</div>
</script>
{% endraw %}


{% endblock %}

{% block script %}
<script>

var api_url = '{% url 'search-api' %}';
var static_prefix = '{{ STATIC_PREFIX }}';

var search_api = new SearchCommand(api_url);

var result_index = 0;
var queries = [];

var current_workspace = null;

var workspace_list_template = doT.template($('#template-workspace-list').text());

var slider = new Slider();

$(function () {

	slider.add_slide("#domains");
	slider.add_slide("#workspaces");
	
	update_workspaces();
	
	slider.start();
	

});

function search_serie(query) {

	if (query == undefined) {
		query = $('#search-query').val();
	}
	else
		$('#search-query').val(query);
	
	if (query != '') {
		search_api.search(query, display_result);
	}
	
}


function display_result(type,data,query) {

	if (type == 'serie-list') {
		if (!slider.has_slide("#search-list")) {
				slider.add_slide("#search-list");
		}
		
		draw_serie_list(data,'#search-list-hook',query);
		slider.show("#search-list");
	}
	else
	{
		result_index += 1;
	
		if (!slider.has_slide("#search-board")) {
			slider.add_slide("#search-board");
		}
		slider.show('#search-board');
	
		var result_hook = 'result_' + result_index;
		
		$('#search-results-hook').prepend('<div id="' + result_hook + '"/>');
		$('#' + result_hook).addClass('span6');
		draw_result(type,data,query,result_hook);
		
		//queries.push({ 'hook' : result_hook, 'query' : query, 'display_type' : type });
		if (type == 'timeline' && data.series.length == 1) {
			$('#' + result_hook).prepend('<button class="btn btn-mini pull-right" title="Analyser cette variable" onclick="open_workspace(\'' + query + '\');"><i class="icon-globe"></i></button>');
		}
		
	} 
}

function draw_serie_list(data,render_to,title) {

	var html = '';

	html += '<div class="span4"><p class="text-left lead">Résultats de recherche</p>';

	html += '<dl>';
	$.each(data,function (i) {
		html += '<dt><a id="serie_'+ i + '" href="#"><strong>' + data[i].name + '</strong></a>';
		if (data[i].display == 'timeline') {
			html += '<button class="btn btn-mini pull-right" title="Analyser cette variable" onclick="open_workspace(\'' + data[i].name + '\');"><i class="icon-globe"></i></button>';
		}
		
		html += '</dt>';
		html += '<dd>' + data[i].description + '</br>';
		html += '<small><i>Source : ' + data[i].source + ' Zone : ' + data[i].zone + '</i></small></dd>';
		
		});
		
    html += '</dl></div>';

   
   	html += '<div id="display_result" class="span8">';
    if (data.length == 0) {
    	html += '<p class="text-info">Oups! Il n\'y a pas de résultat pour cette recheche ' + title + '</p>';
    }
    html += '</div>';
  	
	$(render_to).html(html);

	var result_hook = 'display_result';
	$.each(data,function (i) {
		$("#serie_" + i).on('click',function () {
				var data_ctx = data[i].data;
				data_ctx['description'] = data[i]['description']
            	data_ctx['source'] = data[i]['source']
            	data_ctx['zone'] = data[i]['zone']
				draw_result(data[i].display,data_ctx,data[i].name,result_hook);
				$('#' + result_hook).addClass('span12');
			});
		});
	
}

function open_workspace(serie_id) {
	search_api.open_workspace(serie_id, update_workspace);
}

function update_workspace(name,data) {
	current_workspace = {'name':name, 'data':data};
	$('#current-workspace').html('<a id="current-workspace-btn" class="text-center" href="#"><i class="icon-globe icon-white"></i> '  + name + '</a>');
	$('#current-workspace-btn').on("click", function () {search_serie(name);return false;});
	search_serie(name);
}

function remove_workspace(id) {
	search_api.remove_workspace(id, function () {update_workspaces();});
}

function update_workspaces() {
	search_api.get_workspaces(function (workspaces) {
		$('#workspace-list').html(workspace_list_template({'STATIC_PREFIX': static_prefix, 'workspaces': workspaces}));
	});
}

</script>


{% endblock %}

