{% extends "base.html" %}
{% load url from future %}
{% load raw %}

{% block style %}
<style>
<!--

dd {

	margin-bottom : 10px;
}


-->
</style>
{% endblock %}

{% block sub-nav %}
<div class="sub-nav">
	<div class="sub-nav-container">
		<div class="row-fluid">
			<div class="span12">
				<form class="form form-search-box">
			     	<div class="input-prepend input-append">
			     		<span class="add-on"><div id="current-workspace"><a href="#" onclick="slider.show('#workspaces');return false;"><i id="current-workspace-icon" class="icon-globe"></i></a></div></span>
				  		<input id="search-query" type="text" class="input-xxlarge"  placeholder="Rechercher des séries de données par mots clefs...">
				  		<button type="submit" class="btn btn-primary" onclick="search_serie();return false;"><i class="icon-search icon-white"></i> Rechercher</button>
				  		<button id="btn-correlation-search" class="btn btn-success" onclick="correlate_serie();return false;"><i class="icon-random icon-white"></i> Correler</button>
					  	<button class="btn" id="btn-search-actions"><i class="icon-cog"></i></button>
				  	</div>
				</form>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}

<div id="message" class="after-sub-nav"></div>

<div  class="row-container  hide" id="domains">
	<p class="text-center lead">Recherche par domaines</p>
	<div class="row">
	  	
	  	<div class="span1">	
			
		</div>
	  	
	  	<div class="span10">
	  		<div class="row-fluid">
		 	{% for domain in domains %}
		  		<div class="span3" >
			  		<p class="text-center">
				  		<a href="#" onclick="search_serie('category:{{ domain.key }}');return false;"><img src="{{ STATIC_PREFIX }}/img/domain-icons/{{ domain.icon_path }}" /></a>
				  		<br/><span>{{ domain.name }} </span>
				  		</p>
		  		</div>
			{% endfor %}
			</div>
		</div>
		
		<div class="span1">	
			<p class="text-right"><a href="#" onclick="slider.next();"><img src="{{ STATIC_PREFIX }}/img/chevron-right.png" /></a></p>
		</div>
	</div>
</div>
<div  class="row-container hide" id="workspaces">
	<div class="row">
	  	<p class="text-center lead">Mes espaces de travail</p>
	  	<div class="span1">	
			<p class="text-left"><a href="#"  onclick="slider.previous();"><img src="{{ STATIC_PREFIX }}/img/chevron-left.png" /></a></p>
		</div>
	  	
	  	<div class="span10" id="workspace-list">
		</div>
		<div class="span1 ">	
			<p class="text-right"><a href="#" onclick="slider.next();"><img src="{{ STATIC_PREFIX }}/img/chevron-right.png" /></a></p>	
		</div>
	</div>
</div>

<div  class="row-container hide" id="search-board">
	<div class="row">
	  	<p class="text-center lead"></p>
	  	<div class="span1">	
			<p class="text-left"><a href="#"  onclick="slider.previous();"><img src="{{ STATIC_PREFIX }}/img/chevron-left.png" /></a></p>
		</div>
	  	
	  	<div class="span10">
	  		<div class="row-fluid">
		 		<div id="search-results-hook"></div>
			</div>	
		</div>
		
		<div class="span1">	
			<p class="text-right"><a href="#" onclick="slider.next();"><img src="{{ STATIC_PREFIX }}/img/chevron-right.png" /></a></p>
		</div>
	</div>
</div>

<div  class="row-container hide" id="search-list">
	<div class="row">
	  	<p class="text-center lead"></p>
	  	<div class="span1">	
			<p class="text-left"><a href="#"  onclick="slider.previous();"><img src="{{ STATIC_PREFIX }}/img/chevron-left.png" /></a></p>
		</div>
	  	
	  	<div class="span10">
	  		<div class="row-fluid">
		 		<div id="search-list-hook"></div>
		 		<br/>
		 		<br/>
			</div>	
		</div>
		
		<div class="span1">	
			<p class="text-right"><a href="#" onclick="slider.next();"><img src="{{ STATIC_PREFIX }}/img/chevron-right.png" /></a></p>
		</div>
	</div>
</div>

<div  class="row-container hide" id="correlation-board">
	<div class="row">
	  	<p class="text-center lead"></p>
	  	<div class="span1">	
			<p class="text-left"><a href="#"  onclick="slider.previous();"><img src="{{ STATIC_PREFIX }}/img/chevron-left.png" /></a></p>
		</div>
	  	
	  	<div class="span10">
	  		<div class="row-fluid">
		 		<div id="correlation-board-hook"></div>
		 		<br/>
		 		<br/>
			</div>	
		</div>
		
		<div class="span1">	
			<p class="text-right"><a href="#" onclick="slider.next();"><img src="{{ STATIC_PREFIX }}/img/chevron-right.png" /></a></p>
		</div>
	</div>
</div>

{% raw %}

<script id="template-workspace-list" type="text/dot.js">
 	<div class="row-fluid">
	{{~it.workspaces:workspace:i}}
  		<div class="span3" style="margin:0%" >
	  		<p class="text-center">
		  		<a href="#" onclick="open_workspace('{{=workspace.value}}','{{=workspace.name}}');return false;"><img src="{{=it.STATIC_PREFIX }}/img/workspace-icons/{{=workspace.icon_path}}" /></a>
		  		<br/><span>{{=workspace.name}} <a href="#" onclick="remove_workspace('{{=workspace.id}}'); return false;"><i class="icon-remove"></i></a></span>
		  		</p>
  		</div>
	{{~}}				
	</div>
</script>
{% endraw %}


{% endblock %}

{% block script %}
<script>

var api_url = '{% url 'search-api' %}';
var static_prefix = '{{ STATIC_PREFIX }}';
var tab = '{{tab}}';
var search_api = new SearchCommand(api_url);

var result_index = 0;
var queries = [];

var current_workspace = null;

var workspace_list_template = doT.template($('#template-workspace-list').text());

var slider = new Slider();

$(function () { 

	slider.add_slide("#domains");
	slider.add_slide("#workspaces");
	
	update_workspaces();
	
	if(tab == '') {	
		slider.start();
	}
	else {
		slider.show('#' + tab);
	}

	
	
	var options = {
			title: "Astuce",
			content: "Sélectionner ou créer un espace de travail pour la variable à chercher.",
			placement: 'bottom',
			trigger:'manual',
		};
	$('#current-workspace').popover(options);
	

});

function search_serie(query,name,from) {

	if (query == undefined) {
		query = $('#search-query').val();
	}
	else {
		if (name == undefined) {
			$('#search-query').val(query);
		}
		else {
			$('#search-query').val(name);
		}
	}
	
	if (query != '') {
		search_api.search(query, from, display_result);
	}
	
}


function display_result(type,data,query,options) {

	if (queries.indexOf(query) >= 0) {
		slider.show('#search-board');
		return;
	}
	
	if (type == 'serie-list') {
		if (!slider.has_slide("#search-list")) {
				slider.add_slide("#search-list");
		}
		
		draw_serie_list(data,'#search-list-hook',query,options.total,options.took,options.from);
		slider.show("#search-list");
	}
	else
	{
		result_index += 1;
	
		if (!slider.has_slide("#search-board")) {
			slider.add_slide("#search-board");
		}
		slider.show('#search-board');
	
		var result_hook = 'result_' + result_index;
		
		$('#search-results-hook').prepend('<div id="' + result_hook + '"/>');
		$('#' + result_hook).addClass('span6');
		
		
		
		draw_result(type,data,data.name,result_hook);
		
		queries.push(query);

		if (type == 'timeline' && data.series.length == 1) {
			$('#btn-box-' + result_hook).prepend('<a href="#" title="Analyser cette variable" onclick="create_workspace(\'' + data.id + '\',\'' + data.name + '\');return false;"><i class="icon-globe"></i></a>');
		}
		
	} 
}

function draw_serie_list(data,render_to,query,total,took,from) {

	var html = '';

	html += '<div class="span4"><p class="text-left"><text class="lead">Résultats de recherche</text><br/>';
	html += '<small>' + total + ' résultats (' + took/1000 +' secondes)</small></p>';

	html += '<dl>';
	$.each(data,function (i) {
		html += '<dt><a id="serie_'+ i + '" href="#"><strong>' + data[i][1].name + '</strong></a>';
		if (data[i][1].display == 'timeline') {
			html += '<a class="pull-right" href="#" title="Analyser cette variable" onclick="open_workspace(\'' + data[i][0] + '\',\'' + data[i][1].name + '\');return false;"><i class="icon-globe"></i></a>';
		}
		
		html += '</dt>';
		html += '<dd>' + data[i][1].description + '</br>';
		html += '<small><i>Source : ' + data[i][1].source + ' Zone : ' + data[i][1].zone + '</i></small></dd>';
		
		});
		
    html += '</dl>';
    
    html += '<div class="pagination pagination-mini"><ul>';
    for (i=0;i < Math.min(total/data.length,14); i++) {
    	if ((from/data.length)*1 == i) {
    		html += '<li class="active"><a href="#" onclick="search_serie(\'' + query +'\',\'' + query + '\',' + (i*10) +');">' + (i*1+1) +'</a></li>';
    	}
    	else {
	    	html += '<li><a href="#" onclick="search_serie(\'' + query +'\',\'' + query + '\',' + (i*10) +');">' + (i*1+1) +'</a></li>';
	    }
	}
	if (total/data.length > 14) {
		html += '<li><a href="#">...</a></li>';
  	}
  	html += '</ul></div>';
    
    
    html += '<br/><br/></div>';

	
   
   	html += '<div id="display_result" class="span8">';
    if (data.length == 0) {
    	html += '<p class="text-info">Oups! Il n\'y a pas de résultat pour cette recheche ' + title + '</p>';
    }
    html += '</div>';
  	
	$(render_to).html(html);

	var result_hook = 'display_result';
	$.each(data,function (i) {
		$("#serie_" + i).on('click',function () {
				var data_ctx = data[i][1].data;
				data_ctx['description'] = data[i][1]['description']
            	data_ctx['source'] = data[i][1]['source']
            	data_ctx['zone'] = data[i][1]['zone']
				draw_result(data[i][1].display,data_ctx,data[i][1].name,result_hook);
				$('#' + result_hook).addClass('span12');
			});
		});
	
}

function open_workspace(id,name) {
	search_api.open_workspace(id, name, function(id,name,data) { 
			update_workspace(id,name,data);
			search_serie(id,name);
		});
}

function create_workspace(serie_id,name) {
	search_api.open_workspace(serie_id,name, update_workspace);
}

function update_workspace(id,name,data) {
	current_workspace = {'name':name, 'data':data, 'id':id};
	$('#current-workspace').html('<a id="current-workspace-btn" class="text-center" href="#"><i class="icon-globe"></i> '  + name + '</a>');
	$('#current-workspace-btn').on("click", function () {search_serie(id,name);return false;});
	
}

function remove_workspace(id) {
	search_api.remove_workspace(id, function () {update_workspaces();});
}

function update_workspaces() {
	search_api.get_workspaces(function (workspaces) {
		$('#workspace-list').html(workspace_list_template({'STATIC_PREFIX': static_prefix, 'workspaces': workspaces}));
	});
}

function correlate_serie() {

	if (current_workspace != null ) {
		search_api.correlate(current_workspace.id,current_workspace.data, function (data,took) {
			if (!slider.has_slide("#correlation-board")) {
				slider.add_slide("#correlation-board");
			}
			draw_heatmap('',data,'correlation-board-hook',current_workspace.name);
			slider.show('#correlation-board');
		});
	}
	else {
		
		$('#current-workspace').popover('show');
		
		window.setTimeout(function () {$('#current-workspace').popover('hide');},2000);
	}
		


}

</script>


{% endblock %}

