{% extends "base.html" %}
{% load url from future %}
{% load raw %}
{% load breadcrumbs %}

{% block style %}
<style>
	span.label {
	min-width: 50px;
	font-size: 120%;
	text-align: center;
	}
</style>
{% endblock %}
{% block content %}
	
	<h1>Data hub <small>Explore open data and external data sources</small></h1>
	
	{{ path|datahubbreadcrumb }}
	<div id="message"></div>
	
		  <div class="row-fluid">
			    <div class="span12">
			      	<div class="span6" >
				      	<form class="form-search">
						  <input type="text" class="input-xlarge search-query" placeholder="Search for external data including...">
						  <button type="submit" class="btn btn-primary">Search</button>
						</form>
					</div>
					<div class="span6">
						<div class="pull-right">							
						</div>
					</div>
				</div>
				<div class="span12">
					<div id="show-details">
					</div>
				</div>
			
	</div>
	
	{% raw %}
	<script id="template-display-data" type="text/dot.js">
		<h4>{{=it.data.title}}</h4>
		<p class="text-info">{{=it.data.pub_date}} |  {{=it.data.source}}</h6>
		<div class="span6">
		<p>{{=it.data.description}}<p>
		<dl class="dl-horizontal">	
  			<dt>Period</dt>
  			<dd>{{=it.data.period}}</dd>
  			<dt>Date of production</dt>
  			<dd>{{=it.data.prod_date}}</dd>
  			<dt>Geographical scope</dt>
  			<dd>{{=it.data.geo_scope}}</dd>

		</dl>
		<dl class="dl-horizontal">
			<dt>Price</dt>
  			<dd><span class="label label-success">{{=it.data.price}}</span></dd>
		</dl>
		<div class="pull-right">
			<a class="btn" href="{{=it.data.raw_data_url}}" target="_new">Dowload raw data</a> &nbsp;
			<button class="btn btn-primary" onclick="create_analysis('{{=it.data.data_id}}','{{=it.data.data_base}}');">Dowload in My dataset</button>
		</div>
		</div>
	</script>
	
	{% endraw %}
{% endblock %}

{% block script %}
<script>
var api_url = '{% url 'api-general' %}';
var cmd = new GeneralCommand(api_url);
var path = '{{path}}';
var base = '{{base}}';

var display_data_tpl = new Template('#template-display-data');

$(function () {

	cmd.get_content(base,path,display);

});

function display(data) {
	display_data_tpl.apply('#show-details',{ 'data':data});
}

function create_analysis(data_id,data_base) {

	cmd.create_analysis(data_id,data_base, function(name) {
		document.location = '{% url 'summary-analysis' %}?dpath=' + name;
	});
}

</script>
{% endblock %}
