{% extends "base_blank.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load url from future %}
 

{% block global_menu %}
     <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </a>
     
     <div class="nav-collapse collapse">
       <ul class="nav pull-left">
        <li {% ifequal active_menu "search" %} class="active" {% endifequal %}><a href="{% url 'search' %}">Explorer</a></li>
        <li {% ifequal active_menu "datasource" %} class="active" {% endifequal %}><a href="{% url 'browse-datasource' %}">Mes données</a></li>
		<li {% ifequal active_menu "analysis" %} class="active" {% endifequal %}><a href="{% url 'browse-analysis' %}">Analyser</a></li>
		

       </ul>
       <ul class="nav pull-right">
         <li class="dropdown">
                <a class="dropdown-toggle" id="menu-user" role="button" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i><b class="caret"></b></a>
                <ul id="menu_dropdown-user" class="dropdown-menu" role="menu" aria-labelledby="menu-user">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'logout' %}">Déconnexion</a></li>
                </ul>
          </li>
       </ul>
     </div><!--/.nav-collapse -->
{% endblock %}


{% block global_script %}
    
    <script src="{{ STATIC_PREFIX }}js/global.js"></script>
    
    <!-- <script src="{{ STATIC_PREFIX }}charts/highcharts.js"></script>  -->
    <script src="{{ STATIC_PREFIX }}highcharts/highcharts.js"></script>
    <script src="{{ STATIC_PREFIX }}highcharts/highcharts-more.js"></script>
    <script src="{{ STATIC_PREFIX }}highcharts/modules/exporting.js"></script>
    
    <script src="{{ STATIC_PREFIX }}d3/d3.js"></script>
	<script src="{{ STATIC_PREFIX }}d3/d3.layout.cloud.js"></script>
    
{% endblock %}
 