{% extends "base_blank.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load url from future %}
 

{% block global_menu %}
     <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </a>
     
     <div class="nav-collapse collapse">
       <ul class="nav pull-left">
        <li {% ifequal active_menu "datahub" %} class="active" {% endifequal %}><a href="{% url 'browse-datahub' %}">Explore</a></li>
        <li {% ifequal active_menu "datasource" %} class="active" {% endifequal %}><a href="{% url 'browse-datasource' %}">My Dataset</a></li>
		<li {% ifequal active_menu "analysis" %} class="active" {% endifequal %}><a href="{% url 'browse-analysis' %}">Discover</a></li>
		

       </ul>
       <ul class="nav pull-right">
         <li><a href="/admin">Admin</a></li>
         <li>
         	<a href="#">Preferences</a>
         </li>
         <li><a href="{% url 'logout' %}">Logout</a></li>
       </ul>
     </div><!--/.nav-collapse -->
{% endblock %}


{% block global_script %}
    
    <script src="{{ STATIC_PREFIX }}js/global.js"></script>
    
    <!-- <script src="{{ STATIC_PREFIX }}charts/highcharts.js"></script>  -->
    <script src="{{ STATIC_PREFIX }}highcharts/highcharts.js"></script>
    <script src="{{ STATIC_PREFIX }}highcharts/highcharts-more.js"></script>
    
    <script src="{{ STATIC_PREFIX }}d3/d3.js"></script>
	<script src="{{ STATIC_PREFIX }}d3/d3.layout.cloud.js"></script>
    
{% endblock %}
 