{% extends "base.html" %}
{% load url from future %}

{% load breadcrumbs %}


{% block content %}
	
	<br/>
	{{ path|breadcrumb }}
	<div id="message"></div>
		
	
	<div class="row-fluid" id="folders">
	  	<div class="span12">
		 	{% for dir in directories %}
		  		<div class="span2" >
		  		<p class="text-center">
		  		
		  		<a href="?path={{ path }}/{{ dir }}"><img src="{{ STATIC_PREFIX }}/img/folder.png" /></a>
		  		<br/><span>{{ dir }}</span>
		  		</p>
		  		</div>
			{% endfor %}
			
			{% for file in files %}
		  		<div class="span2">
		  		<p class="text-center">
		  		<a href="{% url 'open-analysis' %}?dpath={{ path }}/{{ file }}"><img src="{{ STATIC_PREFIX }}/img/analytics.png" /></a>
	  			<br/><span>{{ file }} <i class="icon-remove"  title="Supprimer"></i></span>
	  			</p></div>
			{% endfor %}
			
		
		</div>
	
{% endblock %}