{% extends "base.html" %}
{% load url from future %}
{% load typeformat %}


{% block style %}
<style>
	.btn-long {
		
		width: 100px;
	}
	
</style>
{% endblock %}
{% block content %}
	<a name="top"></a>
	<h1>Analysis of {{ name }}</h1>
	
		<div id="message"></div>
	
		  <div class="row-fluid">
			    <div class="span12">
			      	<div class="span7" >
						{% include "analysis/inc_tab.html" %}
					</div>
					<div class="span5">
						<div class="pull-right">
							{% include "analysis/inc_menu_btn.html" %}
						</div>
					</div>
				</div>
			</div>	
			<div class="row-fluid">
				
				
				<div class="span9">
					 	
					 	<div class="row-fluid">
					 	<form class="form-search" id="query-form">
					 		<div class="input-append span7">
							  <input id="query" type="text" class="input-xxlarge search-query" placeholder="Enter your query here" value="{{ query }}" data-provide="typeahead">
							  <button type="submit" class="btn btn-primary btn-long">Query</button>
							  
							</div>
						  	<div class="span2 pull-right">
								<button class="btn btn-primary btn-long" href="#add-filter" role="button" data-toggle="modal">Filter...</button>
							</div>
						</form>
	</div>
						
						<div id="result"></div>
						
						
					</div>
				<div class="span3">
					<div class="well sidebar-nav" id="saved-query-list">
						<ul  class="nav nav-list">
						  <li class="nav-header">Actions</li>
						  	<li><a href="#" onclick=""><i class="icon-star-empty"></i>Bookmark</a></li>
						  	<li><a href="#" onclick=""><i class="icon-picture"></i>Export as image</a></li>
						  	<li><a href="#" onclick=""><i class="icon-download"></i>Export to Excel</a></li>
						  	<li><a href="#" onclick=""><i class="icon-share"></i>Share...</a></li>
						  	<li><a href="#" onclick=""><i class="icon-tags"></i>Dash...</a></li>
						  	

						  <li class="nav-header">Saved queries</li>
						  {% for query in ftable.queries %}
						  	<li><a href="#" onclick=""></a></li>
						  {% endfor %}
						  <li><span><a href="#" onclick="">age by survived</a> <i class="icon-remove"></i></span></li>
						</ul>
					</div>
				</div>	
			</div>
				
			
			
			
				
{% include "analysis/inc_save_popup.html" %}
{% include "analysis/inc_add_feature_popup.html" %}			
			   
{% endblock %}

{% block script %}
<script>
var name = '{{ name }}';
var ftable_name = '{{ dpath }}';
var api_url = '{% url 'api-analysis' %}';
var target_url = '{% url 'summary-analysis' %}?dpath={{ dpath }}';

var ftcmd = new FeatureTableCommand(api_url,ftable_name);

$(function() {
	var source = [];
	source.push('show all');
	
	{% for name1 in ftable.get_feature_names %}
		source.push('{{ name1 }}');
		{% for name2 in ftable.get_feature_names %}
			{% if name1 != name2 %}
				source.push('{{ name1 }}' + ' by ' + '{{ name2 }}');
			{% endif %}
		{% endfor %} 
	{% endfor %}
	var options = {'source': source};
	$('#query').typeahead(options);
});


$('#query-form').submit(function() {
	
	var query = $('#query').val();
	
	ftcmd.nl_query(query, display_result);
	return false;
});

function display_result(type,data,query) {
	
	if (type == 'table') {
		draw_table('',data,'result','All features');
	}
	else if (type == 'box-plot') {
		//draw_bar('',data,'result',query,'frequency %');
		draw_box_plot('',data,'result');
	}
	else if (type == 'stacked-bar') {
		draw_percent_stacked_bar('',data,'result',query,'frequency %');
		//draw_mosaic_box('',data,'result',query,data.label_x,data.label_y);
	}
	else if (type == 'scatter') {
		draw_scatter('',data,'result',query,'frequency %');
	}
	else if (type == 'pie') {
		draw_pie('',data,'result',query);
	}
	else if (type == 'bar') {
		draw_bar('',data,'result',query,'frequency %');
	}
	else if (type == 'wordcloud') {
		draw_wordcloud('',data,'result',query);
	}
	else {
		$('#result').html('Oops! There is no data vizualisation for this query');
		return;
	}
	//$('#result').height(0);
	$('#result').height('auto');
	//$('#result').height($('#result').height()+100);
	
	$('#query-result-toolbar').removeClass('hidden');
}


</script>


{% endblock %}