{% extends "base.html" %}
{% load url from future %}
{% load typeformat %}


{% block style %}
<style>
	.btn-long {
		
		width: 100px;
	}
	
</style>
{% endblock %}
{% block content %}
	<a name="top"></a>
	<h1>Analysis of {{ name }} <small>Analyze and visualize data</small></h1>
	
		<div id="message"></div>
	
		  <div class="row-fluid">
			    <div class="span12">
			      	<div class="span7" >
						{% include "analysis/inc_tab.html" %}
					</div>
					<div class="span5">
						<div class="pull-right">
							{% include "analysis/inc_menu_btn.html" %}
						</div>
					</div>
				</div>
			</div>	
			<div class="row-fluid">
				
				
				<div class="span10">
					 	
					 	<div class="row-fluid">
					 	<form class="form-inline" id="query-form">
					 		<div class="input-append">
							  <input id="query" type="text" class="input-xxlarge" placeholder="Enter your query here" value="{{ query }}" data-provide="typeahead">
							  <button type="submit" class="btn btn-primary btn-long">Query</button>
							  <button class="btn btn-long" href="#add-filter-modal" role="button" data-toggle="modal">Filter...</button>
							</div>
						</form>
						<div id="filter-info"></div>
	</div>
						
						<div id="result" class="span12"></div>
						
						
					</div>
				<div class="span2">
					<div class="well sidebar-nav" id="saved-query-list">
						<ul  class="nav nav-list">
						  <li class="nav-header">Actions</li>
						  	<li><a href="#" onclick=""><i class="icon-edit"></i>Edit...</a></li>
						  	<li><a href="#" onclick=""><i class="icon-star-empty"></i>Bookmark</a></li>
						  	<li><a href="#" onclick=""><i class="icon-picture"></i>Export image</a></li>
						  	<li><a href="#" onclick=""><i class="icon-download"></i>Export data</a></li>
						  	<li><a href="#" onclick=""><i class="icon-share"></i>Share...</a></li>
						  	<li><a href="#" onclick=""><i class="icon-tags"></i>Dash...</a></li>
						  	

						  <li class="nav-header">Bookmarks</li>
						  {% for query in ftable.queries %}
						  	<li><span><a href="#" onclick=""></a> <i class="icon-remove"></i></li>
						  {% endfor %}
						  
						  <li class="nav-header" id="filter-list">Filters</li>
						  {% for name in ftable.filters.keys %}
						  	<li class="filter-item"><span><a href="#" onclick="select_filter('{{ name }}'); return false;">{{ name }}</a> <i class="icon-remove"></i></li>
						  {% endfor %}
						  
						</ul>
					</div>
				</div>	
			</div>
				
							
{% include "analysis/inc_save_popup.html" %}
{% include "analysis/inc_add_feature_popup.html" %}
{% include "analysis/inc_add_filter_popup.html" %}
{% include "analysis/inc_search_correlation_popup.html" %}

	   
{% endblock %}

{% block script %}
<script>
var name = '{{ name }}';
var ftable_name = '{{ dpath }}';
var api_url = '{% url 'api-analysis' %}';
var target_url = '{% url 'summary-analysis' %}?dpath={{ dpath }}';

var ftcmd = new FeatureTableCommand(api_url,ftable_name);

var result_index = 0;
var queries = [];

var current_filter;
var current_filter_name;

$(function() {
	var source = [];
	source.push('show all');
	
	{% for name1 in ftable.get_feature_names %}
		source.push('{{ name1 }}');
		{% for name2 in ftable.get_feature_names %}
			{% if name1 != name2 %}
				source.push('{{ name1 }}' + ' by ' + '{{ name2 }}');
			{% endif %}
		{% endfor %} 
	{% endfor %}
	var options = {'source': source};
	$('#query').typeahead(options);
});


$('#query-form').submit(function() {
	
	var query = $('#query').val();
	
	ftcmd.nl_query(query, current_filter, display_result);
	return false;
});

function display_result(type,data,query) {

	result_index += 1;

	var result_hook = 'result_' + result_index;
	
	$('#result').prepend('<div id="' + result_hook + '"/>');
	
	if (type == 'table') {
		$('#' + result_hook).addClass('span12');
	
		draw_table('',data,result_hook,'All features');
	}
	else if (type == 'box-plot') {
		//draw_bar('',data,'result',query,'frequency %');
		$('#' + result_hook).addClass('span6');
		draw_box_plot('',data,result_hook);
	}
	else if (type == 'stacked-bar') {
		$('#' + result_hook).addClass('span6');
	
		draw_percent_stacked_bar('',data,result_hook,query,'frequency %');
		//draw_mosaic_box('',data,result_hook,query,data.label_x,data.label_y);
	}
	else if (type == 'scatter') {
		$('#' + result_hook).addClass('span6');
	
		draw_scatter('',data,result_hook,query,'frequency %');
	}
	else if (type == 'pie') {
		$('#' + result_hook).addClass('span4');
		draw_pie('',data,result_hook,query);
	}
	else if (type == 'bar') {
		$('#' + result_hook).addClass('span6');
		draw_bar('',data,result_hook,query,'frequency %');
	}
	else if (type == 'wordcloud') {
		$('#' + result_hook).addClass('span6');
	
		draw_wordcloud('',data,result_hook,query);
	}
	else if (type == 'timeline') {
		$('#' + result_hook).addClass('span6');
	
		draw_timeline('',data,result_hook,query);
	}
	else {
		$('#' + result_hook).addClass('span12');
	
		$('#result').html('Oops! There is no data vizualisation for this query');
		return;
	}
	$('#' + result_hook).append('<br/><br/>');	
	$('#query-result-toolbar').removeClass('hidden');
	
	queries.push({ 'hook' : result_hook, 'query' : query, 'display_type' : type }); 
}

{% include "analysis/inc_add_filter_script.js" %}
</script>


{% endblock %}