{% extends "base.html" %}
{% load url from future %}
{% load typeformat %}


{% block style %}
<style>
	.btn-long {
		
		width: 100px;
	}
	
</style>
{% endblock %}
{% block content %}
		<br/>
	
		<div id="message"></div>
	
		  <div class="row-fluid">
			    <div class="span12">
			      	<div class="span7" >
						{% include "analysis/inc_tab.html" %}
					</div>
					<div class="span5">
						<div class="pull-right">
							{% include "analysis/inc_menu_btn.html" %}
						</div>
					</div>
				</div>
			</div>	
			<div class="row-fluid">
				
				
				<div class="span10">
					 	
					 	<div class="row-fluid">
					 	<form class="form-inline" id="query-form">
					 		<div class="input-append">
							  <input id="query" type="text" class="input-xxlarge" placeholder="Saisissez votre requête d'analyse ici..." value="{{ query }}" data-provide="typeahead">
							  <button type="submit" class="btn btn-primary btn-long"><i class="icon-search icon-white"></i> Analyser</button>
							  <button class="btn btn-long" href="#add-filter-modal" role="button" data-toggle="modal"><i class="icon-filter"></i> Filtrer...</button>
							</div>
						</form>
						<div id="filter-info"></div>
	</div>
						
						<div id="result" class="span12"></div>
						
						
					</div>
				<div class="span2">
					<div class="well sidebar-nav" id="saved-query-list">
						<ul  class="nav nav-list">
						  
						  <li class="nav-header" id="filter-list">Filters</li>
						  {% for name in ftable.filters.keys %}
						  	<li class="filter-item"><span><a href="#" onclick="select_filter('{{ name }}'); return false;">{{ name }}</a> <i class="icon-remove"></i></li>
						  {% endfor %}
						  
						</ul>
					</div>
				</div>	
			</div>
				
							
{% include "analysis/inc_save_popup.html" %}
{% include "analysis/inc_add_feature_popup.html" %}
{% include "analysis/inc_add_filter_popup.html" %}
{% include "analysis/inc_search_correlation_popup.html" %}

	   
{% endblock %}

{% block script %}
<script>
var name = '{{ name }}';
var ftable_name = '{{ dpath }}';
var static_prefix = '{{ STATIC_PREFIX }}';

var search_app_url = '{% url 'search' %}';
var api_url = '{% url 'api-analysis' %}';
var target_url = '{% url 'summary-analysis' %}?dpath={{ dpath }}';

var ftcmd = new FeatureTableCommand(api_url,ftable_name);

var search_api_url = '{% url 'search-api' %}';
var search_api = new SearchCommand(search_api_url);


var result_index = 0;
var queries = [];

var current_filter;
var current_filter_name;

$(function() {
	var source = [];
	source.push('show all');
	
	{% for name1 in ftable.get_feature_names %}
		source.push('{{ name1 }}');
		{% for name2 in ftable.get_feature_names %}
			{% if name1 != name2 %}
				source.push('{{ name1 }}' + ' par ' + '{{ name2 }}');
			{% endif %}
		{% endfor %} 
	{% endfor %}
	var options = {'source': source};
	$('#query').typeahead(options);
});


$('#query-form').submit(function() {
	
	var query = $('#query').val();
	
	ftcmd.nl_query(query, current_filter, display_result);
	return false;
});

function display_result(type,data,query) {

	result_index += 1;
	var result_hook = 'result_' + result_index;
	
	$('#result').prepend('<div id="' + result_hook + '"/>');
	draw_result(type,data,query,result_hook);
	
	$('#query-result-toolbar').removeClass('hidden');
	
	if (type == 'timeline' && data.series.length == 1) {
		$('#' + result_hook).prepend('<a class="pull-right" href="#" title="Analyser cette variable" onclick="create_workspace(\'' + query + '\');return false;"><i class="icon-globe"></i></a>');
	}
	
	 
}

function create_workspace(query) {
	ftcmd.index_query(query, current_filter, function(id) {
		search_api.open_workspace(id,query, function(){
				window.location = search_app_url + '?tab=workspaces';
		});
	});
}


{% include "analysis/inc_add_filter_script.js" %}
</script>


{% endblock %}