

<div id="save-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="SaveAsModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="save-modal-label">Save as...</h3>
  </div>
  <div class="modal-body">
	<input id="save-filename" type="text" placeholder="Enter the filename..." value="{{ dpath }}">  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" onclick="ftcmd.save($('#save-filename').val());$('#save-modal').modal('hide');">Save</button>
  </div>
</div>	