							<div class="btn-group">
								  <a class="btn btn-primary bdropdown-toggle" data-toggle="dropdown" href="#">
								    Save
								    <span class="caret"></span>
								  </a>
								  <ul class="dropdown-menu">
								  	<li>
								  		<a href="#" onclick="ftcmd.save('{{ dpath }}');">Save</button>
								  		<a href="#save-modal" role="button" data-toggle="modal">Save as...</a>
								  	</li>
								  </ul>
							</div>
							<button class="btn btn-success" href="#add-feature" role="button" data-toggle="modal">Add feature...</button>
							
							
