

<div id="edit-feature-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="EditFeatureModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="edit-feature-modal-label">Edit feature...</h3>
  </div>
  <div class="modal-body">
 
	<input id="edit-feature-name" type="text" readonly="readonly" value="">
	<label id="edit-feature-code-label">Feature code</label>
  	<textarea id="edit-feature-code" rows="12" class="span5" placeholder="Enter the feature code... function = lambda table,row_index : ... " ></textarea>
  	<label id="edit-feature-default-label">Default code</label>
  	<textarea id="edit-feature-default" rows="12" class="span5" placeholder="Enter the feature code... function = lambda table,row_index : ... " ></textarea>
  	
  	<span class="help-block">function = lambda table,row_index : ...</span>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" onclick="ftcmd.edit_feature($('#edit-feature-name').val(),$('#edit-feature-code').val(),$('#edit-feature-default').val(), function() {$('#edit-feature-modal').modal('hide'); document.location.reload();});">Update feature</button>
  </div>
</div>	