<div id="add-filter-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddFilterModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="add-filter-modal-label">Add filter...</h3>
  </div>
  <div class="modal-body">
	<input id="filter-name" type="text" placeholder="Enter the name of the filter..." value="{{ feature.current_filter.name }}">  
	<textarea id="filter-code" rows="12" class="span5" placeholder="Enter the feature code... function = lambda table,row_index : ... " ></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" onclick="ftcmd.add_filter($('#filter-name').val(),$('#filter-code').val(), add_filter);">Create</button>
  </div>
</div>	