{% extends "base.html" %}
{% load url from future %}
{% load typeformat %}


{% block style %}
<style>
	.btn-feature {
		padding: 5px;
		margin: 5px;
		min-width: 100px;
		
	}
	#model-score {
		margin:20px;
		margin-top: 40%;
		font-size: 800%;
	}
	
	.score-major {
		
	}
	.score-minor {
		
		font-size: 30%;
	}
	
	
	
	td.success {
		background-color: green;
		color : white;
	}
	td.warning {
		
		
	}
	
	
</style>
{% endblock %}
{% block content %}
	
	<h1>Analysis of {{ name }}</h1>
	
		<div id="message"></div>
	
		  <div class="row-fluid">
			    <div class="span12">
			      	<div class="span7" >
						{% include "analysis/inc_tab.html" %}
					</div>
					<div class="span5">
						<div class="pull-right">
							{% include "analysis/inc_menu_btn.html" %}
						</div>
					</div>
				</div>
			</div>	
			<div class="row-fluid">
				
				<div class="span3">
					<div id="score" class="hidden">
						<h3>Model accuracy</h3>
						<div id="model-score"><span id="model-score-major" class="score-major"></span><span id="model-score-minor" class="score-minor"></span></div>
					</div>
				</div>	
				<div class="span6">
					 {% if ftable.target %}
						<h2>Prediction of <strong id="target-name" class="text-success">{{ ftable.target }}</strong> </h2>
					 {% else %}
					 	<h2>Find clusters</h2>
					 {% endif %}
						<h3>Selected features</h3>
						<div id="features">
						{% for fname,feature in ftable.get_features %}
							{% ifnotequal fname ftable.target %}
								{% if feature.is_usable %}
									<button id="{{ fname|slugify }}" class="btn  btn-info btn-medium btn-feature" onclick="ftcmd.toggle_feature('{{ fname }}',toggle_feature);">{{ fname }}</button>
								{% else %}
									<button id="{{ fname|slugify }}" class="btn btn-medium btn-feature" onclick="ftcmd.toggle_feature('{{ fname }}',toggle_feature);">{{ fname }}</button>
								{% endif %}
							{% endifnotequal %}
						{% endfor %}
						</div>
					</div>
				<div class="span3">
					<div class="well sidebar-nav" id="saved-model-list">
						<ul  class="nav nav-list">
							<li class="nav-header">Actions</li>
							<li><a href="#" onclick="ftcmd.build_model(update_score); return false;" ><i class="icon-play-circle"></i>Find model</a></li>
							<li><a href="#" onclick="ftcmd.select_best_features(select_best_features); return false;" ><i class="icon-random"></i>Find best features</a></li>
							<li><a id="btn-apply-model"  href="#apply-model-modal" role="button" data-toggle="modal"><i class="icon-filter"></i>Create bucket...</a></li>
							
							<li><a id="btn-save-model" href="#" onclick="ftcmd.save_model('{{ ftable.target }}',add_saved_model); return false;" ><i class="icon-star-empty"></i>Save model</a></li>
							<li><a id="btn-apply-model"  href="#apply-model-modal" role="button" data-toggle="modal"><i class="icon-retweet"></i>Apply model...</a></li>
							
						
						  <li class="nav-header">Saved models</li>
						  {% for model_name, model in ftable.models.items %}
						  	<li><span><a href="#" onclick="ftcmd.get_model_info('{{ model_name }}',set_model_info);">{{ model_name }}</a><i class="icon-remove"></i></span></li>
						  {% endfor %}
						</ul>
					</div>
				</div>	
			</div>
				
			
			
			<div class="row-fluid">
				
				<div class="span3"></div>
				<div class="span6" id="model-output">
				</div>
				<div class="span3"></div>	
			</div>
				
{% include "analysis/inc_save_popup.html" %}
{% include "analysis/inc_add_feature_popup.html" %}			
{% include "analysis/inc_apply_model_popup.html" %}
			   
{% endblock %}

{% block script %}
<script>
var name = '{{ name }}';
var ftable_name = '{{ dpath }}';
var api_url = '{% url 'api-analysis' %}';
var target_url = '{% url 'summary-analysis' %}?dpath={{ dpath }}';

var ftcmd = new FeatureTableCommand(api_url,ftable_name);

var current_model_name = null;


function update_score(model_info) {

	score = model_info.score;
	score = ((score * 100).toFixed(2) + '').split('.');
	
	score_major = score[0];
	score_minor = score[1];
	
	$('#model-score-major').html(score_major);
	$('#model-score-minor').html('.' + score_minor + '%');
	
	$('#score').removeClass('hidden');
	$('#btn-save-model').removeClass('disabled');
	$('#btn-apply-model').removeClass('disabled');
	
	current_model_name = model_info.name;
	
	if(model_info.model_type == 'CLAS' && model_info.metrics != null) {
		html = '<h3>Confusion matrix</h3>';
		html += '<table class="table table-condensed">';
		html += '<thead><tr>';
		$.each(model_info.target_class,function (i) {
			html += '<th>' +  model_info.target + '=' + model_info.target_class[i] + '</th>';
		});
		html += '</tr></thead>';
		
		
		$.each(model_info.metrics,function (i) {
			html += '<tr>';
			$.each(model_info.metrics[i],function (j) {
				if (i==j) {
					html += '<td class="success">' + model_info.metrics[i][j] + '</td>';
				}
				else {
					html += '<td class="warning">' + model_info.metrics[i][j] + '</td>';
				}
			});
			html += '</tr>';
		});
		
		
		html += '</table>';
		
		$('#model-output').html(html);
		$('#model-output').height(100 * model_info.metrics.length);
	}
	else {
		$('#model-output').html('');
	}
	
	
	
	
}

function toggle_feature(fname,use) {
	if (use) {
		$('#' + fname.toLowerCase().replace(' ','-')).addClass('btn-info');
	}
	else {
		$('#' + fname.toLowerCase().replace(' ','-')).removeClass('btn-info');
	}
	
}

function set_model_info(model_info) {

	update_score(model_info);
	
	feature_btns = $('#features').children();
	$.each(feature_btns, function(i) {
		selected_feature_btns = $.map(model_info.selected_features, function(f) {
			return f.replace(' ','-');
		});
		if (selected_feature_btns.indexOf(feature_btns[i].id) >=0) {
			$('#'+feature_btns[i].id).addClass('btn-info');
		}
		else {
			$('#'+feature_btns[i].id).removeClass('btn-info');
		}
	
	});
	$('#target-name').html(model_info.target);
	
	
}


function add_saved_model(name) {
	document.location.reload();
}

function select_best_features(kbest) {
	html = '<h3>Best features</h3>';
	html += '<div id="best-feature-bar">';
	html += '</div>';
	$('#model-output').html(html);
	categories = [];
	data=[];
	$.each(kbest, function (i) {
		categories.push(kbest[i][0]);
		data.push(kbest[i][1]);
	});
	
	options = {
		'categories' : categories,
		'series' : [{'name' : 'Feature score', 'data' : data}]
		};
	
	draw_bar('Feature score',options,'best-feature-bar','','Score',0,true);
	$('#model-output').height('auto');
	$('#model-output').height($('#model-output').height()+100);
}

$('#apply-model-modal').on('show', function () {
	$('#input-filename').val(ftable_name.replace(name,'test.csv'));
	$('#output-filename').val(ftable_name.replace(name,'predictions.csv'));
});

ftcmd.get_current_model_info(update_score);

</script>


{% endblock %}